* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
}

:root {
  --one: #618264;
  --two: #79ac78;
  --three: #b0d9b1;
  --four: #d0e7d2;
}
body {
  font-family: poppins;
}

/*header*/
nav {
  /* position: fixed; */
  align-content: center;
  padding-left: 96px;
  padding-right: 96px;
  height: 6.2em;
  background-color: var(--one);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gmblogo {
  width: 80px;
  height: 60px;
}
h1 {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.menu > ul > li > a {
  min-width: 80px;
  padding: 0.5em;
  text-align: center;
  display: block;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: var(--one);
}
.login1 {
  border-top: 1rem solid transparent;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--three);
  cursor: pointer;
  border-radius: 15px;
  width: 97px;
}
.login1:hover {
  color: white;
  background-color: var(--two);
}
.menu > ul > li > a:hover {
  text-decoration: underline;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}
/*burger animation*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* header end */

/* konten start */
main {
  padding-left: 240px;
  padding-right: 240px;
}

.konten1 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
}

.konten2 {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.gedung {
  background-color: #d9d9d9;
  border: 1px solid black;
  width: 432px;
  height: 432px;
  margin-top: 96px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.gedung:hover {
  box-shadow: 5px 3px 2px grey;
}

.gambargedung {
  width: 402px;
  height: 321px;
}

.gedung div {
  font-weight: 700;
  font-size: 40px;
  color: black;
}

/* Tambahkan CSS untuk styling tabel */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #9fcf9e;
}

.isitable {
  margin: 40px 0px;
  overflow-x: auto;
}

table a {
  position: relative;

  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding-top: 5px;
  height: 40px;
  width: 6rem;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--three);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
}

table button {
  background-color: #79ac78;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.tersedia {
  background-color: #79ac78;
}
.tidaktersedia {
  background-color: #618264;
}

.tersedia:hover {
  background-color: var(--three);
}

/*footer*/

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(244, 250, 244); */
  background: none;
  padding: 30px;
  z-index: 1;
  /* border: 1px solid #ccc; */
  animation: fadeIn 0.3s ease-in-out;
  /* width: 350px; */
  /* height: 200px; */
}

.popup-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ba0000;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #207bb5;
}

#peminjamanForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

#peminjamanForm input {
  padding: 10px;
}

#peminjamanForm button {
  padding: 20px;
}

#peminjamanForm button:hover {
  background-color: var(--three);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-content {
  max-width: 400px;
  margin: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

fotter {
  background-color: var(--one);
  padding: 25px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.foot1 {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  width: 300px;
  gap: 25px;
}
.foot1 .judul {
  text-align: end;
  display: block;
  width: 80px;
  color: white;
  line-height: 35px;

  font-weight: 700;
  font-size: 32px;
}
.foot1 .logo {
  height: 67px;
  width: 67px;
}
.foot2 {
  margin-right: 36px;
  margin-left: 36px;
  height: 120px;
  width: 4px;
  background-color: black;
}
.foot3 {
  width: 300px;
}
.foot3 a {
  display: block;
  text-decoration: none;
  color: black;
  margin-top: 5px;
}
.kontak1 {
  font-weight: 700;
  font-size: 20px;
}
.foot3 a:hover {
  text-decoration: underline;
}
